<p><%= flash[:alert] %></p>
<h2>Pictures</h2>

<div style="border: 1px solid #ffffff">
  <h4>제목: <%= @post.title %></h4>
  <p style="color: #ff0000">분류: <%= @post.category %></p>
  <p>내용: <%= @post.content %></p>

  <p><a href = "/gallery/edit/<%= @post.id %>">Modify</a></p>
  <p><a href="/">전체 리스트 가기</a></p>
</div>
